both_strands_chr11_8198900_A_C_homo.bam.bai filter=lfs diff=lfs merge=lfs -text
chr11:6586900-6587100_short_ins_homo.bam.bai filter=lfs diff=lfs merge=lfs -text
methylation_site_chr11_134755601_134755621.bam.bai filter=lfs diff=lfs merge=lfs -text
methylation_site_chr11_134755601_134755621.single_end.bam.bai filter=lfs diff=lfs merge=lfs -text
chr11:5888900-5889100_long_ins_homo.bam.bai filter=lfs diff=lfs merge=lfs -text
ref_ob_chr11_134012307_C_A_het.bam.bai filter=lfs diff=lfs merge=lfs -text
both_strands_chr11_8198951_T_A_het.bam.bai filter=lfs diff=lfs merge=lfs -text
chr11:228150-228350_long_ins_hetero.bam.bai filter=lfs diff=lfs merge=lfs -text
denovo_ot_chr11_134479860_A_G_homo.bam.bai filter=lfs diff=lfs merge=lfs -text
ref_ob_chr11_134610622_C_T_homo.bam.bai filter=lfs diff=lfs merge=lfs -text
ref_ot_chr11_134473154_G_A_homo.bam.bai filter=lfs diff=lfs merge=lfs -text
ref_ot_chr11_8195526_G_A_het.bam.bai filter=lfs diff=lfs merge=lfs -text
chr11:1160400-1160500_short_hetero_del.bam.bai filter=lfs diff=lfs merge=lfs -text
denovo_ob_chr11_134755809_T_C_homo.bam.bai filter=lfs diff=lfs merge=lfs -text
denovo_ob_chr11_134911365_T_C_het.bam.bai filter=lfs diff=lfs merge=lfs -text
denovo_ot_chr11_134749303_A_G_het.bam.bai filter=lfs diff=lfs merge=lfs -text
both_strands_chr11_8198951_T_A_het.bam filter=lfs diff=lfs merge=lfs -text
methylation_site_chr11_134755601_134755621.bam filter=lfs diff=lfs merge=lfs -text
ref_ob_chr11_134012307_C_A_het.bam filter=lfs diff=lfs merge=lfs -text
ref_ot_chr11_134473154_G_A_homo.bam filter=lfs diff=lfs merge=lfs -text
chr11:1160400-1160500_short_hetero_del.bam filter=lfs diff=lfs merge=lfs -text
chr11:228150-228350_long_ins_hetero.bam filter=lfs diff=lfs merge=lfs -text
denovo_ob_chr11_134911365_T_C_het.bam filter=lfs diff=lfs merge=lfs -text
methylation_site_chr11_134755601_134755621.single_end.bam filter=lfs diff=lfs merge=lfs -text
both_strands_chr11_8198900_A_C_homo.bam filter=lfs diff=lfs merge=lfs -text
chr11:6586900-6587100_short_ins_homo.bam filter=lfs diff=lfs merge=lfs -text
denovo_ob_chr11_134755809_T_C_homo.bam filter=lfs diff=lfs merge=lfs -text
denovo_ot_chr11_134749303_A_G_het.bam filter=lfs diff=lfs merge=lfs -text
ref_ot_chr11_8195526_G_A_het.bam filter=lfs diff=lfs merge=lfs -text
chr11:5888900-5889100_long_ins_homo.bam filter=lfs diff=lfs merge=lfs -text
denovo_ot_chr11_134479860_A_G_homo.bam filter=lfs diff=lfs merge=lfs -text
ref_ob_chr11_134610622_C_T_homo.bam filter=lfs diff=lfs merge=lfs -text
